*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: #131419;
}

#container{
	height: auto;
	width: auto;
	background: linear-gradient(to bottom, #2b2d47 10%, #181926);
	border-radius: 20px;
	padding: 30px;
	box-shadow: inset 1px 2px 0px rgb(255 255 255/ 18%),inset -2px -2px 2px rgb(0 0 0/ 65%) ;
}
/*------------------------------------Starting Page----------------------*/
#startingPage{
	height: 220px;
	width: 400px;
 }

#startingPage h2, #winner h2{
	font-size: 50px;
	color: #cdcfdb;

}

#startingPage #line{
    height: 1px;
    width: 100px;
    background: #c3cfdb;
    margin: 20px 0;	
}

#startingPage h4{
	font-size: 25px;
	color: #b9b9c5;
}

#startingPage #button{
	height: auto;
	width: 100%;
	margin: 30px 0;
	display: flex;
	flex-direction: row;
}

#button button{
	height: 55px;
	width: 100px;
	cursor: pointer;
	background: #29cde0;
	border: none;
	outline: none;
	color: #2b2d47;
	font-weight: bold;
	font-size: 15px;
	border-radius: 10px;
	transform: scale(1);
	transition: 0.5s;
	box-shadow: 2px 2px 2px rgb(255 255 255/ 26%),-2px -2px 2px 5px rgb(0 0 0/ 87%);
}

#button button:first-child{
	margin-right: 40px;
}

#startingPage #button button:hover, #winner #button button:hover{
	transform: scale(0.90);

}

/*------------------------------------Winning Page----------------------*/

#winner{
	display: none;  /*When you have completed making a page then make that page's display as none inorder to make another page on the same window.*/

}

#winner #button{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

#winner #button button{
	margin-top: 20px;

}

/*------------------------------------Main Page----------------------*/

#mainPage{
	height: 550px;
	width: 350px;
	padding: 20px;
	position: relative;
	display: none; 
}

#mainPage #headerBtns{
	height: 60px;
	width: 310px;
	border-radius: 50px;
	position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px rgb(255 255 255/ 26%), -2px -2px 5px rgb(0 0 0/ 87%);  /*Creating effect like a diggen hole part*/
} 


#mainPage #headerBtns button{
	height: 60px;
	width: 160px;
	border-radius: 50px;
	border: none;
	outline: none;
	background: transparent;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60);
  z-index: 1;   /*The z-index property specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order.
  Here i have used it so that the text X turn or O turn can come above the showChange div so and text can be visible*/ 
}

#mainPage #headerBtns #O_Turn{
	left: 160px;
}

#showChange{
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 160px;
	border-radius: 50px;
	background: #29cde0;
  transition: 0.2s;
  z-index: 0;
}

#gameBoard{
	height: 400px;
	width: 330px;
	position: absolute;
	top: 150px;
	left: 10px;
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-gap: 15px;
}

.boxes{
	height: 100px;
	width: 100px;
	box-shadow: 2px 2px 2px rgb(255 255 255/ 26%), -2px -2px 5px rgb(0 0 0/ 87%);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.boxes i{
	font-size: 60px;
	color: #29cde0;
}